/* Add the two main website fonts and initialize */
@font-face {
  font-family: 'Signika';
  src: url('signika.ttf') format('truetype');
}

@font-face {
  font-family: 'Orienta';
  src: url('orienta.ttf') format('truetype');
}
body {
  font-family: 'Signika';
  padding: 2em;
}
h1, h2, h3 {
  text-align: center;
}
button {
  padding: 1em;
  border: none;
  background-color: #333;
  color: white;
  font-size: 1em;
  cursor: pointer;
}
form {
  max-width: 30em;
  margin: 0 auto;
}
label, input, textarea {
  display: block;
  width: 100%;
  margin: 1em 0;
}
