/* Add the two main website fonts and initialize */
@font-face {
  font-family: 'Signika';
  src: url('Signika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Orienta';
  src: url('Orienta-Regular.ttf') format('truetype');
}
body {
    background-color: #1a333a;
    color: #e9e059;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    color: #1a333a;
    text-decoration: none;
}

a:hover {
    color: #e29127;
}

header, footer {
    background-color: #e4ab37;
    color: #e6c548;
    padding: 1em;
}

h1 {
    color: #e9e059;
    text-align: center;
}

nav {
    background-color: rgba(230, 197, 72, 0.8);
    padding: 1em;
    border-radius: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav a {
    font-weight: bold;
}

section {
    padding: 2em;
    margin: 1em;
    background-color: #e9e059;
    border-radius: 0.5em;
}

section h2 {
    font-weight: bold;
    text-transform: uppercase;
}

section#contact a {
    color: #e4ab37;
}
