/* Add the two main website fonts and initialize */
@font-face {
  font-family: 'Signika';
  src: url('Signika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Orienta';
  src: url('Orienta-Regular.ttf') format('truetype');
}
body {
    font-family: 'Orienta';
    background-color: #1a333a;
    color: white;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #e9e059;
}
.logo {
    height: 3em;
    margin-right: 1em;
}
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.section {
    flex: 1 0 300px;
    background-color: #e4ab37;
    margin: 0.5em;
    padding: 1em;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
}
.section:hover {
    opacity: 1;
}
.section h2 {
    color: #e29127;
    transition: color 0.2s ease-in-out;
}
.section h2:hover {
    color: #1a333a;
}
.section p {
    color: #e6c548;
}
